header {
    text-align: center;
    font-size: 55px;
    color: rgb(240, 255, 255);

}

body {
    background-color: #DDA0DD;
}

.greet {
    color: black;
    text-decoration: underline overline;
    font-size: 30px;
}

body::selection {
    background-color: aliceblue;
}

.course {
    color: #8B008B;
}